TCB_DE_MERCHANTS="cyberghostvpn,surfshark,f-secure-internet-security-and-vpn,nordvpn,express-vpn,purevpn"
TCB_UK_MERCHANTS="cyberghost-vpn,surfshark,nordvpn,expressvpn-uk,purevpn"
TCB_US_MERCHANTS="cyberghost-vpn,surfshark,nordvpn,expressvpn,purevpn"
